header,article,nav,section{
	display:block;
}
*{
	padding:0;
	margin:0;
}
body{
	margin:0.5em 26%;
	background-image:url(../img/33.jpg);
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	
}
header{
	background-image:url(../img/33.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100% 100%;

}
header img{
	margin-left:12em;
	width:30em;
	height:20em;
	
}
header nav{
	background-image:
	background-repeat:no-repeat;
	background-size:100% 100%;
}
header nav ul{
	width:100%;
	overflow:hidden;;
	border-left-width:0.1em solid;	
	padding-left:0em;
	
}
header nav li{
	display:inline;
}
header nav li a{
	display:block;
	float:left;
	padding:0.5em 2.2em;
	border-right:0.1em solid;
	font-size:1.5em;
}
article{
	border-width:0.1em solid;
	border-top-width:0;
	padding:2em 10%;
	line-height:2em;
}
article img{
	border-width:0.1em solid;
	outline-width:0.1em solid;
}
