body{
	
	
	font-size:76%;
	font-family:helvetica,arial,sans-serif;
}
body *{
	font-size:1em;
}
a{
	font-weight:bold;
	text-decoration:none;
}

header nav{	
	font-family:"lucida grande",helvetica,arial,sans-serif;
}
article{
	
}
article p{
	font-size:1.2em;
}
h1{
	font-family:georgia,"times new roman",sans-serif;
	font:2.4em normal;
}
h2{
	font-family:georgia,"times new roman",sans-serif;
	font:1.8em normal;
	margin-top:1em;
}
h3{
	font-family:georgia,"times new roman",sans-serif;
	font:1.4em normal;
	margin-top:1em;
}
#imagegallery li{
	list-style-type:none;
}
textarea{
	font-family:helvetica,arial,sans-serif;
}
